html, body {
  margin: 0;
  padding: 0;
 /* height: 100vh;
  width: 100vw;*/
  background-color:black;
}

#root, #map, #mapUI {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.Menu {
  position: fixed;
  bottom: 10px;
  z-index: 990;
  height: auto;
  background: hsla(0,100%,100%,0.8);
  margin: 10px;
  font-family: sans-serif;
  font-size: 13px;
  padding: 8px;
  padding-bottom: 10px;
  border-radius: 9px;
}
.Menu hr {
  border: 1px solid #000;
  margin: 5px;
}
.Menu h3 {
  margin-top: 0;
  padding-left: 5px;
}
.Menu p {
  padding-left: 5px;
}
.Menu select {
  display: block;
  margin: 0 auto;
}

